<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US" prefix="og: http://ogp.me/ns#">
<head>
<%= render '/head.*' %>
</head>
<body>
  <%= render '/gtm.*' %>
  <%= render '/header.*' %>
  <div id="js-banner"></div>
  <div class="wrapper">
    <div class="main class js-main-wrapper">
      <div class="js-article-content">
        <%= yield %>
      </div>
      <% if ENV['NANOC_ENV'] == 'production' && ENV['CI_COMMIT_REF_NAME'] == 'master' %>
      <%# Show Edit button only in production and on master branch (hide archives) %>
      <div class="edit-on">
        <a class="btn btn-tanuki btn-default" href="<%= edit_on_gitlab(@item) %>">Edit this page</a>
        <a class="btn btn-tanuki btn-default" href="<%= edit_on_gitlab(@item, editor: :webide) %>">Web IDE</a>
      </div>
      <% end %>
      <% if @item[:last_updated] %>
        <hr>
        <p class="last-updated" style="padding-bottom: 24px;">
          <em>Last updated <%= @item[:last_updated] %></em>
        </p>
      <% end %>
    </div>
    <div class="clear"></div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>
  <script type="application/javascript" src="<%= @items['/assets/javascripts/clipboardjs.*'].path %>"></script>
  <script type="application/javascript" src="<%= @items['/assets/javascripts/badges.*'].path %>"></script>
  <script src="<%= @items['/frontend/archives/archives.*'].path %>"></script>
  <%= render '/footer.*' %>
  <%= render '/docsearch.*' %>
  <% if ENV['NANOC_ENV'] == 'production' %>
  <%# Add analytics only in production %>
    <%= render '/analytics.*' %>
  <% end %>
  <%= render '/schema-microdata.*' %>
</body>
</html>
